<script type="text/javascript">
    $(function() {
        $("#property").autocomplete({
            delay: 0,
            minLength: 2,
            source: function(request, response){
                var object = [];

                $.getJSON("{{ path('search_property_ajax') }}", request, function(data, status, xhr){
                    $.each(data, function(i, item){
                        object.push(
                            {
                                value: item.object_street,
                                label: item.object_district + ', ' + item.object_street + ' (' + item.object_amount_rooms + ') ' + item.object_status + ' стоимость: ' + item.object_price,
                                href: 'http://emls.ru/spb/term/fullinfo.php?b='+ item.id_base + '&o=' + item.id_object,
                                property_id: item.id_object,
                                property_base_id: item.id_base,
                                property_agent_id: item.id_agent
                            }
                        );
                    });

                    response(object);
                });
            },
            focus: function(event, ui){
                event.preventDefault();
                $(this).val(ui.item.label);
            },
            select: function(event, ui){
                event.preventDefault();
                $(this).val(ui.item.label);

                $("#object-href").attr("href", ui.item.href);

                $("#property-id").val(ui.item.property_id);
                $("#property-base-id").val(ui.item.property_base_id);
                $("#property-agent-id").val(ui.item.property_agent_id);

                $.ajax({
                    type: "post",
                    url: "{{ path('user_get_ajax') }}",
                    data: { user_id: ui.item.property_agent_id },
                    success: function(data) {
                        var agent_show_url = "{{ path('admin_sonata_user_user_show', {'id':'app_id'}) }}";
                        agent_show_url = agent_show_url.replace("app_id", data.app_id);

                        var button_block = "";

                        if(data.user_dismiss == 0){
                            agent_show_url = agent_show_url.replace("app_id", data.app_id);
                            button_block += "<a class=\"btn btn-small btn-success\" target=\"_blank\" href=\"" + agent_show_url +"\">Данные агента</a>";

                            if(data.maytrans == 1 && data.user_phone){
                                button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-cell-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести на сотовый агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.user_phone + ");\" />";
                            }

                            if(data.in_office == 1){
                                button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-loud-call-forward\" name=\"CallCard[agent-loud-call-forward]\" value=\"Громкий вызов агента\" onclick=\"$('#action').val($(this).attr('id'));\" />";
                            }

                            if(data.officephone){
                                button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести на рабочий телефон агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.officephone + ");\" />";
                            }
                            else{
                                $.ajax({
                                    type: "post",
                                    url: "{{ path('branch_get_ajax') }}",
                                    async: false,
                                    data: { branch_id: data.id_office },
                                    success: function(data){
                                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести звонок в офис агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.branch_phone + ");\" />";
                                    },
                                    dataType: 'json'
                                });
                            }

                            if(data.maytrans == 0 && !data.officephone && data.head_phone){
                                button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-head-forward\" name=\"CallCard[agent-head-forward]\" value=\"Перевести на менеджера агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.head_phone + ");\" />";
                            }
                        }
                        else{
                            if(!data.head_is_fired){
                                agent_show_url = agent_show_url.replace("app_id", data.head_id);
                                button_block += "<a class=\"btn btn-small btn-success\" target=\"_blank\" href=\"" + agent_show_url +"\">Данные менеджера</a>";
                            }

                            if(data.head_phone){
                                button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести на рабочий телефон менеджера\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.head_phone + ");\" />";
                            }
                            else{
                                $.ajax({
                                    type: "post",
                                    url: "{{ path('branch_get_ajax') }}",
                                    async: false,
                                    data: { branch_id: data.id_office },
                                    success: function(data){
                                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести звонок в офис менеджера\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + data.branch_phone + ");\" />";
                                    },
                                    dataType: 'json'
                                });
                            }
                        }
                        //button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"black-list-forward\" name=\"CallCard[black-list-forward]\" value=\"Занести в черный список\" onclick=\"$('#action').val($(this).attr('id'));\" />";

                        if(button_block){
                            $("#call-card-buttons").html("").append("<div class=\"btn-group\">" + button_block + "</div>");
                        }
                    },
                    dataType: 'json'
                });
            }
        });
    });

    $("#advertising-source").change(function(){ $("#property").focus(); });

    $("#reason").change(function(){ $("#message").focus(); });
</script>

<div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label required" for="who-call">Кто звонит:</label>
            <select id="who-call" name="CallCard[who-call]" required="required" class="span12">
                <option></option>
                {% for item in who_call_list %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="control-group">
            <label class="control-label required" for="caller-name">Имя звонящего:</label>
            <div class="input-append">
                <input type="text" id="caller-name" name="CallCard[caller-name]" required="required" class="span11" placeholder="Имя звонящего" autocomplete="off" />
                <span class="add-on"><i class="icon-user"></i></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required" for="advertising-source">Источник рекламы:</label>
            <select name="CallCard[advertising-source]" id="advertising-source" required="required" class="span12" style="margin-bottom: 15px;">
                <option></option>
                {% for item in advertising_source %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="control-group">
            <label class="control-label required" for="property">Объект недвижимости:</label>
            <div class="input-append">
                <input type="text" id="property" name="CallCard[property]" required="required" class="span10" placeholder="Объект недвижимости" autocomplete="off" />
                <span class="add-on"><i class="icon-search"></i></span>
                <a href="" target="_blank" id="object-href" class="btn view_link btn" title="Показать">
                    <i class="icon-eye-open"></i>
                </a>

                <input type="hidden" name="CallCard[property-id]" id="property-id" value="" />
                <input type="hidden" name="CallCard[property-base-id]" id="property-base-id" value="" />
                <input type="hidden" name="CallCard[property-agent-id]" id="property-agent-id" value="" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required" for="reason">Причина обращения:</label>
            <select name="CallCard[reason]" id="reason" required="required" class="span12" style="margin-bottom: 15px;">
                <option></option>
                {% for item in reason %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="span6">
        <label class="control-label required" for="message">Сообщение:</label>
        <textarea class="input-xlarge span14" id="message" name="CallCard[message]" rows="4" required="required"></textarea>

        <div style="height: 140px; overflow: scroll;" id="messages-history">
            <label class="control-label required" for="message" style="display: none;">Предыдущие сообщения:</label>
            <table class="table"></table>
        </div>
    </div>
</div>