<script type="text/javascript">
    $("#forward-call-to-other-employer").click(function(){
        $("#call-card-buttons").html("")
    });

    $(function() {
        $("#forward-to-receiver").autocomplete({
            delay: 0,
            minLength: 2,
            source: function(request, response){
                var object = [];

                $.getJSON("{{ path('user_get_by_name_ajax') }}", request, function(data, status, xhr){
                    $.each(data, function(i, item){
                        var user_href = "{{ path('admin_sonata_user_user_show', {'id': 'user_href'}) }}";
                        user_href = user_href.replace("user_href", item.id);

                        object.push(
                                {
                                    value: item.name + " (" + item.branch_name + ")",
                                    label: item.name + " (" + item.branch_name + ")",
                                    user_id: item.id,
                                    href: user_href,
                                    phone: item.phone,
                                    office_phone: item.office_phone,
                                    may_trans_to_cell_phone: item.may_trans_to_cell_phone,
                                    manager_office_phone: item.manager_office_phone,
                                    branch_phone: item.branch_phone
                                }
                        );
                    });

                    response(object);
                });
            },
            select: function(event, ui){
                var button_block = "";

                event.preventDefault(); $(this).val(ui.item.label);

                if(ui.item.office_phone){
                    button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести на рабочий телефон агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.office_phone + ");\" />";
                }

                if(ui.item.phone && ui.item.may_trans_to_cell_phone == true){
                    button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-cell-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести на сотовый агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.phone + ");\" />";
                }

                if(ui.item.branch_phone){
                    button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести звонок в офис агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.branch_phone + ");\" />";
                }

                if(ui.item.may_trans_to_cell_phone == false && !ui.item.office_phone && ui.item.manager_office_phone){
                    button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-head-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести на менеджера агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.manager_office_phone + ");\" />";
                }

                $("#forward-to-receiver-input-container").find("#user-href").attr("href", ui.item.href);

                $("#call-card-buttons").html("").append("<div class=\"btn-group\">" + button_block + "</div>");

            }
        });
    });

    $(function() {
        $("#forward-to-receiver-number").autocomplete({
            delay: 0,
            minLength: 2,
            source: function(request, response){
                var object = [];

                $.getJSON("{{ path('get_user_branch_by_phone_ajax') }}", request, function(data, status, xhr){
                    $.each(data, function(i, item){
                        var href = "{{ path('admin_sonata_user_user_show', {'id': 'object_href'}) }}";

                        var value = item.name, is_branch = false,
                            response_item = { id: item.id, phone: item.phone };

                        if(item.branch_name){
                            value += " " + item.match_phone + " (" + item.branch_name + ")";

                            response_item["may_trans_to_cell_phone"] = item.may_trans_to_cell_phone;
                            response_item["office_phone"] = item.office_phone;
                            response_item["manager_office_phone"] = item.manager_office_phone;
                            response_item["branch_phone"] = item.branch_phone;
                        }
                        else{
                            value += " " + item.phone;
                            is_branch = true;
                            href = "{{ path('admin_realtor_dictionary_branches_show', {'id': 'object_href'}) }}";
                        }

                        response_item["value"] = response_item["label"] = value;
                        response_item["href"] = href.replace("object_href", item.id);
                        response_item["is_branch"] = is_branch;

                        if(item.office_phone){
                            response_item["office_phone"] = item.office_phone;
                        }

                        object.push(response_item);
                    });

                    response(object);
                });
            },
            select: function(event, ui){
                var button_block = "";

                event.preventDefault(); $(this).val(ui.item.label);

                $("#object-href").attr("href", ui.item.href);

                if(ui.item.is_branch == false){
                    if(ui.item.office_phone){
                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-office-forward]\" value=\"Перевести на рабочий телефон агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.office_phone + ");\" />";
                    }

                    if(ui.item.phone && ui.item.may_trans_to_cell_phone == true){
                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-cell-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести на сотовый агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.phone + ");\" />";
                    }

                    if(ui.item.branch_phone){
                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести звонок в офис агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.branch_phone + ");\" />";
                    }

                    if(ui.item.may_trans_to_cell_phone == false && !ui.item.office_phone && ui.item.manager_office_phone){
                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-head-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести на менеджера агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.manager_office_phone + ");\" />";
                    }
                }
                else{
                    if(ui.item.phone){
                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести звонок\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + ui.item.phone + ");\" />";
                    }
                }

                $("#call-card-buttons").html("").append("<div class=\"btn-group\">" + button_block + "</div>");
            }
        });
    });

    $("#forward-to-receiver-container input[type=radio]").click(function(){
        var input_container;

        $("#forward-to-receiver-container").find("div[class=input-append]").find("div").hide();
        $("#call-card-buttons").html("");

        switch(parseInt($(this).val())){
            case 0:
                input_container = $("#forward-to-receiver-input-container");
                break;
            case 1:
                input_container = $("#forward-to-receiver-number-container");
                break;
            case 2:
                input_container = $("#forward-to-receiver-input-number-container");
                break;
        }

        input_container.find("input").val("");
        input_container.show();
    });

    $("#forward-to-receiver-input-number").keyup(function(){
        event.preventDefault();

        var button_block = "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"agent-office-forward\" name=\"CallCard[agent-cell-forward]\" value=\"Перевести звонок\" onclick=\"$('#action').val('forward-to-receiver-input-number'); $('#call-to-phone').val(" + $(this).val() + ");\" />";

        $("#call-card-buttons").html("").append("<div class=\"btn-group\">" + button_block + "</div>");
    });
</script>

<div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label required" for="who-call">Имя звонящего:</label>
            <input type="text" id="caller-name" name="CallCard[caller-name]" class="span12" placeholder="Имя звонящего" value="" autocomplete="off" />
        </div>

        <div class="control-group">
            <label class="control-label required" for="who-call">Кто звонит:</label>
            <select id="who-call" name="CallCard[who-call]" required="required" class="span12">
                <option></option>
                {% for item in who_call_list %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="CallCard[appended-user-id]" id="appended-user-id" value="{{ app.user.Id }}" />

        </div>

        <br />

        <div class="control-group" id="forward-to-receiver-container">
            <label class="control-label required" for="forward-to-receiver">Куда перевести звонок:</label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="0">
                Поиск по имени сотрудника
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="1">
                Поиск по номеру телефона
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
                Ввести номер телефона
            </label>

            <div class="input-append">
                <div id="forward-to-receiver-input-container" style="display: none;">
                    <input type="text" id="forward-to-receiver" name="CallCard[forward-to-receiver]" class="span10" placeholder="ФИО сотрудника" autocomplete="off" />
                    <span class="add-on"><i class="icon-search"></i></span>
                    <a href="" target="_blank" id="user-href" class="btn view_link btn" title="Показать">
                        <i class="icon-eye-open"></i>
                    </a>
                </div>

                <div id="forward-to-receiver-number-container" style="display: none;">
                    <input type="text" id="forward-to-receiver-number" name="CallCard[forward-to-receiver-number]" class="span10" placeholder="Номер телефона" autocomplete="off" />
                    <span class="add-on"><i class="icon-search"></i></span>
                    <a href="" target="_blank" id="object-href" class="btn view_link btn" title="Показать">
                        <i class="icon-eye-open"></i>
                    </a>
                </div>

                <div id="forward-to-receiver-input-number-container" style="display: none;">
                    <input type="text" id="forward-to-receiver-input-number" name="CallCard[forward-to-receiver-input-number]" class="span11" placeholder="Введите номер телефона" autocomplete="off" />
                    <span class="add-on"><i class="icon-bell"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="span6">
        <label class="control-label required" for="message">Сообщение:</label>
        <textarea class="input-xlarge span14" id="message" name="CallCard[message]" rows="4" required="required"></textarea>

        <div style="height: 140px; overflow: scroll;" id="messages-history">
            <label class="control-label required" for="message" style="display: none;">Предыдущие сообщения:</label>
            <table class="table"></table>
        </div>
    </div>
</div>