<style type="text/css">
    .active{
        pointer-events: none;
        cursor: default;
    }

    #map-container{
        margin: 0;
    }
</style>

<script type="text/javascript">
    var branch_show_url = "{{ path("admin_realtor_dictionary_branches_show", {"id":"branch_id"}) }}";

    ymaps.ready(init);

    function init(){
        var map = new ymaps.Map('map', {center: [59.93772, 30.313622], zoom: 8, controls: ["zoomControl", "searchControl"]});
        {% for branch in branches %}
            {% if branch.address is not empty and branch.outerId != 4962 %}
                ymaps.geocode("{{ branch.address }}", {
                    results: 1
                }).then(function(res){
                    var firstGeoObject = res.geoObjects.get(0);

                    var branch = new ymaps.Placemark(
                        firstGeoObject.geometry.getCoordinates(),
                        {
                            hintContent: "{{ branch.name }}",
                            balloonContent: "{{ branch.name }}<br />" +
                                    "{{ branch.address }}{% if branch.cityPhone is not empty %}<br />городской телефон: {{ branch.cityPhone }}{% endif %}" +
                                    "{% if branch.branchNumber is not empty %}<br />внутренний телефон: {{ branch.branchNumber }}{% endif %}" +
                                    "{% if branch.onDutyAgentPhone is not empty %}<br />телефон дежурного оператора: {{ branch.onDutyAgentPhone }}{% endif %}"
                        }
                    );

                    branch.events.add("click", function(event){
                        var city_phone = "{{ branch.cityPhone is not empty ? branch.cityPhone : "" }}";
                        var interoffice_phone = "{{ branch.branchNumber is not empty ? branch.branchNumber : "" }}";
                        var duty_agent = "{{ branch.onDutyAgentPhone is not empty ? branch.onDutyAgentPhone : "" }}";

                        var button_block = "";

                        $("#branch-to-call").val({{ branch.Id }});

                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"black-list-forward\" name=\"CallCard[black-list-forward]\" value=\"Занести в черный список\" onclick=\"$('#action').val($(this).attr('id'));\" />";

                        if(city_phone){
                            button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"office-city-phone-forward\" name=\"CallCard[office-city-phone-forward]\" value=\"Перевести на городской телефон\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + city_phone + ");\" />";
                        }

                        if(interoffice_phone){
                            button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"office-interoffice-phone-forward\" name=\"CallCard[office-interoffice-phone-forward]\" value=\"Перевести на внутренний телефон\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + interoffice_phone + ");\" />";
                            button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"office-loud-call-forward\" name=\"CallCard[office-loud-call-forward]\" value=\"Громкая связь\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + interoffice_phone + ");\" />";
                        }

                        if(duty_agent){
                            button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"office-duty-agent-phone-forward\" name=\"CallCard[office-duty-agent-phone-forward]\" value=\"Перевести на дежурного агента\" onclick=\"$('#action').val($(this).attr('id')); $('#call-to-phone').val(" + duty_agent + ");\" />";
                        }

                        button_block += "<input type=\"submit\" class=\"btn btn-small btn-success\" id=\"office-random-phone-forward\" name=\"CallCard[office-random-phone-forward]\" value=\"Случайный вызов\" onclick=\"$('#action').val($(this).attr('id'));\" />";

                        if(button_block){
                            $("#call-card-buttons").html("").append("<div class=\"btn-group\">" + button_block + "</div>");
                        }

                        event.stopPropagation();
                    });

                    map.geoObjects.add(branch);
                });
            {% endif %}
        {% endfor %}
    }
</script>

<div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label required" for="caller-name">Имя звонящего:</label>
            <div class="input-append">
                <input type="text" id="caller-name" name="CallCard[caller-name]" required="required" class="span11" placeholder="Имя звонящего" autocomplete="off" />
                <span class="add-on"><i class="icon-user"></i></span>
            </div>
        </div>

        <div id="map" style="width: 430px; height: 250px"></div>

    </div>

    <div class="span6">
        <label class="control-label required" for="message">Сообщение:</label>
        <textarea class="input-xlarge span14" id="message" name="CallCard[message]" rows="14" required="required"></textarea>
    </div>
</div>