{% extends sonata_block.templates.block_base %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/jquery-ui-1.10.4.custom.css') }}" />

    <style type="text/css">
        #phone-type{
            margin-top: 20px;
            font-weight: bold;
        }

        .modal-body label{
            font-weight: bold;
        }

        .ui-autocomplete{
            max-height: 100px;
            overflow-y: auto;
            position: absolute;
            cursor: default;
            z-index: 1500 !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            worker();

            $('body').on('change', '#phone-type select', function(){
                switch(parseInt($(this).val())){
                    case 0:
                        break;
                    case 1:
                        break;
                    case 2:
                        break;
                    case 3:
                        $("#call-card-content").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_1.html.twig' %}{% endfilter %}").show("slow");
                        break;
                    case 4:
                        $("#call-card-content").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_2.html.twig' %}{% endfilter %}").show("slow");
                        break;
                }
            });

            $("#call-card-form").submit(function(event){
                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "{{ path('call_outcome_ajax') }}",
                    data: $("#call-card-form").serialize(),
                    success: function(data) {
                        $('#call-card').modal('hide');
                    },
                    dataType: 'json'
                });
            });
        });

        function worker(){
            {% if app.user.getOfficePhone is not empty %}
                $.ajax({
                    type: "post",
                    url: "{{ path('call_get_income_event_ajax') }}",
                    data: { to_phone: {{ app.user.getOfficePhone }} },
                    success: function(data) {
                        $("#caller-phone").html(data.fromPhone);
                        $("#linked-id").val(data.linkedId);
                        $("#call-id").val(data.id);

                        if(data.callerName){
                            $("#phone-type select option").filter(function(){
                                return $(this).val() == data.callType;
                            }).attr('selected', true);

                            $("#phone-type").hide();
                        }

                        $('#call-card').modal({
                            keyboard: false
                        });
                    },
                    complete: function() {
                        var timer = setTimeout(worker, {{ settings.period * 1000 }});

                        $('#call-card').on('hide', function() {
                            timer = setTimeout(worker, {{ settings.period * 1000 }});
                        });
                        $('#call-card').on('shown', function() {
                            clearTimeout(timer);
                        });
                    },
                    dataType: 'json'
                });
            {% endif %}
        };
    </script>

    <a href="#call-card" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

    <form id="call-card-form">
        <div id="call-card" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="call_card" aria-hidden="true" style="width: 900px; margin-left: -450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="call-card-label">
                    <strong>
                        Номер телефона звонящего: <span id="caller-phone"></span>
                    </strong>
                </h3>
                <div id="phone-type">
                        Выбирите тип звонка:
                    <select name="CallCard[call-type]">
                        <option></option>
                        <option value="0">Звонок от продавца</option>
                        <option value="1">Звонок от агентства</option>
                        <option value="2">Звонок от сотрудника</option>
                        <option value="3">Клиент знает объект</option>
                        <option value="4">Клиент не знает чего хочет</option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="CallCard[caller-phone]" id="caller-phone" value="{{ app.user.getOfficePhone }}" />

            <input type="hidden" name="CallCard[linked-id]" id="linked-id" value="" />
            <input type="hidden" name="CallCard[call-id]" id="call-id" value="" />

            <input type="hidden" name="CallCard[action]" id="action" value="" />

            <div class="modal-body" id="call-card-content" style="display: none;">

            </div>

            <div class="modal-footer" id="call-card-buttons">
                <input type="submit" class="btn btn-success" id="agent-forward" name="CallCard[agent-forward]" value="Перевести на рабочий телефон агента" disabled="disabled" onclick="$('#action').val($(this).attr('id'));" />
            </div>
        </div>
    </form>
{% endblock %}