{% extends sonata_block.templates.block_base %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/call-card-v2.css') }}" media="all" />
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        $("body").on("click", "#phone-type .btn-group button", function(){
            $("#call-card-buttons").html("");
            $('#call-type').val($(this).val())

            switch(parseInt($(this).val())){
                case 0:
                    $("#call-card-content").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_1.html.twig' %}{% endfilter %}").show("slow");
                    break;
                case 1:
                    $("#call-card-content").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_2.html.twig' %}{% endfilter %}").show("slow");
                    break;
                default:
                    $("#call-card-content").html("");
                    break;
            }
        });

        $(document).ready(function(){
            $("#call-card-form").submit(function(event){
                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "{{ path('call_outcome_ajax') }}",
                    data: $("#call-card-form").serialize(),
                    success: function(data) {
                        $('#call-card').modal('hide');
                    },
                    dataType: 'json'
                });
            });

            $("#call-card").on("hidden", function(event){
                event.preventDefault();

                $("#call-card-form")[0].reset();
                $("#call-card-content").html("");

                var linked_id = $("#linked-id").val();

                if(linked_id){
                    $.ajax({
                        type: "post",
                        url: "{{ path('call_outcome_ajax') }}",
                        data: { action: "call_cancel", receiver: "hang", linked_id: linked_id }
                    });
                }
            });

            {% if app.user.getOfficePhone is not empty %}
                call_event_listener();

                function call_event_listener(){
                    $.ajax({
                        type: "post",
                        url: "{{ path('call_get_income_event_ajax') }}",
                        data: { to_phone: {{ app.user.getOfficePhone }} },
                        success: function(data){
                            $("#caller-phone").html(data.fromPhone);
                            $("#linked-id").val(data.linkedId);
                            $("#call-id").val(data.id);
                            $("#ats-call-id").val(data.atsCallId);

                            $("#call-card, #income-call-info").modal("hide");

                            if(data.callAction == "{{ call_dial_up_event }}"){
                                $("#income-call-info-caller-phone").html(data.fromPhone);
                                $("#income-call-info").modal({keyboard: false});
                            }
                            else if(data.callAction == "{{ call_dial_down_event }}"){

                            }
                            else{

                            }
                        },
                        complete: function(){
                            //var event_listener = setTimeout(call_event_listener, {{ settings.period * 1000 }});
                        },
                        dataType: 'json'
                    });
                }
            {% endif %}
        });
    </script>

    <!--
    <a href="#call-card" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
    <a href="#income-call-info" role="button" class="btn" data-toggle="modal">Info modal</a>
    -->

    {% include '@SonataAdmin/Core/income_call_info.html.twig' %}

    <form id="call-card-form">

        <div id="call-card" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="call_card" aria-hidden="true" style="width: 900px; margin-left: -450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="call-card-label">
                    <strong>
                        Номер телефона звонящего: <span id="caller-phone"></span>
                    </strong>
                </h3>
                <div id="phone-type">
                    Выбирите тип звонка:
                    <div class="btn-group">
                        <button class="btn btn-small btn-success" type="button" value="0">Клиент знает объект</button>
                        <button class="btn btn-small btn-success" type="button" value="1">Клиент не знает чего хочет</button>
                    </div>
                </div>
            </div>

            <input type="hidden" name="CallCard[call-type]" id="call-type" value="" />
            <input type="hidden" name="CallCard[caller-phone]" id="caller-phone" value="{{ app.user.getOfficePhone }}" />
            <input type="hidden" name="CallCard[linked-id]" id="linked-id" value="" />
            <input type="hidden" name="CallCard[call-id]" id="call-id" value="" />
            <input type="hidden" name="CallCard[ats-call-id]" id="ats-call-id" value="" />

            <input type="hidden" name="CallCard[action]" id="action" value="" />
            <input type="hidden" name="CallCard[call-to-phone]" id="call-to-phone" value="" />

            <input type="hidden" name="CallCard[branch-to-call]" id="branch-to-call" value="" />

            <div class="modal-body" id="call-card-content" style="display: none;"></div>

            <div class="modal-footer" id="call-card-buttons">

            </div>
        </div>

    </form>
{% endblock %}