{% extends sonata_block.templates.block_base %}

{% block block %}
    <link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/call-card-v2.css') }}" media="all" />
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <script type="text/javascript">
        function office_random_phone_forward(){
            $("#message, #caller-name").removeAttr("required");
            $("#action").val("office-random-phone-forward");
            $("#call-card-form").submit();
        }

        function forward_to_call_center(){
            $("#message, #caller-name").removeAttr("required");
            $("#action").val("forward-to-call-center");
            $("#call-card-form").submit();
        }

        function call_cancel()
        {
            var linked_id = $("#linked-id").val();

            if(linked_id){
                $.ajax({
                    type: "post",
                    url: "{{ path('call_outcome_ajax') }}",
                    data: { action: "call_cancel", receiver: "hang", linked_id: linked_id }
                });
            }
        }

        $("body").on("click", "#phone-type .btn-group button", function(){
            $("#call-card-buttons").html("");
            $('#call-type, #black-list-call-type').val($(this).val());

            var button_block = "<button class=\"btn btn-small btn-warning pull-right\" id=\"add-to-black-list-button\" type=\"button\" onclick=\"$('#add-to-black-list').modal({keyboard: false});\">Занести в черный список</button>";

            {% if app.user.isOperator == false %}
                button_block += "<button class=\"btn btn-small btn-success pull-left\" id=\"forward-to-call-center\" type=\"button\" onclick=\"forward_to_call_center()\">перевести в колл-центр</button>";
            {% endif %}


            switch(parseInt($(this).val())){
                case 0:
                    $(".required-buttons").html("").append(button_block);
                    $("#call-card-content").find("#container").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_1.html.twig' %}{% endfilter %}")
                    $("#call-card-content").show("slow");
                    break;
                case 1:
                    button_block += "<input type=\"button\" class=\"btn btn-small btn-success pull-left\" id=\"office-random-phone-forward\" name=\"CallCard[office-random-phone-forward]\" value=\"Случайный вызов\" onclick=\"office_random_phone_forward();\">";

                    $(".required-buttons").html("").append(button_block);
                    $("#call-card-content").find("#container").html("").append("{% filter escape('js') %}{% include '@Call/Default/call_card_type_2.html.twig' %}{% endfilter %}");
                    $("#call-card-content").show("slow");
                    break;
                default:
                    $("#call-card-content").find("#container").html("");
                    break;
            }
        });

        $(document).ready(function(){
            $("#call-card-form").submit(function(event){
                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "{{ path('call_outcome_ajax') }}",
                    data: $("#call-card-form").serialize(),
                    complete: function() {
                        $("#call-card, #add-to-black-list").modal("hide");
                    }
                });
            });

            $("#call-card").on("hidden", function(event){
                event.preventDefault();

                $("#call-card-form")[0].reset();
                $("#call-card-content").find("#container").html("");
                $("#call-card-content").find(".required-buttons").html("");
                $("#call-card-buttons").html("");

                $("#phone-type").find(".btn-group").find("button").each(function(){
                    $(this).attr("disabled", false);
                });
            });

            {% if app.user.getOfficePhone is not empty or app.user.getUserDutyPhone is not null %}
                call_event_listener();

                function call_event_listener(){
                    var user_phone = ["{{ app.user.getOfficePhone}}"];

                    {% if app.user.getUserDutyPhone is not null %}
                        user_phone.push("{{ app.user.getUserDutyPhone }}");
                    {% endif %}

                    $.ajax({
                        type: "post",
                        url: "{{ path('call_get_income_event_ajax') }}",
                        data: { to_phone: user_phone },
                        success: function(data){
                            $("#caller-phone").html(data.fromPhone);
                            $("#black-list-caller-phone").val(data.fromPhone);
                            $("#linked-id, #black-list-linked-id").val(data.linkedId);
                            $("#call-id, #black-list-call-id").val(data.id);
                            $("#ats-call-id, #black-list-ats-call-id").val(data.atsCallId);

                            if(data.callAction == "{{ call_dial_up_event }}"){
                                $("#call-card").modal("hide");

                                $("#income-call-info-caller-phone").html(data.fromPhone);
                                $("#income-call-info").modal({"keyboard": false, "backdrop": "static"});
                            }
                            else if(data.callAction == "{{ call_dial_down_event }}"){
                                $("#call-card, #income-call-info").modal("hide");
                            }
                            else{
                                $("#income-call-info").modal('hide');

                                if(data.callerName){
                                    $("#phone-type").find(".btn-group").find("button[value=" + data.callType + "]").click();

                                    $("#phone-type").find(".btn-group").find("button").each(function(){
                                        $(this).attr("disabled", "disabled");
                                    });

                                    $("#caller-name").val(data.callerName);

                                    if(data.advertisingSource){
                                        $("#advertising-source").val(data.advertisingSource);
                                    }

                                    if(data.reason){
                                        $("#reason").val(data.reason);
                                    }

                                    if(data.propertyAddress){
                                        $("#property").val(data.propertyAddress);
                                    }

                                    if(data.propertyBaseId && data.propertyId){
                                        $("#object-href").attr("href", 'http://emls.ru/spb/term/fullinfo.php?b='+ data.propertyBaseId + '&o=' + data.propertyId);
                                    }

                                    if(data.propertyId){
                                        $("#property-id").val(data.propertyId);
                                    }

                                    if(data.propertyBaseId){
                                        $("#property-base-id").val(data.propertyBaseId);
                                    }

                                    if(data.propertyAgentId){
                                        $("#property-agent-id").val(data.propertyAgentId);
                                    }

                                    if(data.message){
                                        $("#message").text(data.message);
                                    }
                                }

                                $("#call-card").modal({"keyboard": false, "backdrop": "static"});
                            }
                        },
                        complete: function(){
                            var event_listener = setTimeout(call_event_listener, {{ settings.period * 1000 }});
                        },
                        dataType: 'json'
                    });
                }
            {% endif %}
        });
    </script>

    <!--
    <a href="#call-card" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
    <a href="#income-call-info" role="button" class="btn" data-toggle="modal">Info modal</a>
    -->


    {% include '@SonataAdmin/Core/income_call_info.html.twig' %}

    {% include '@SonataAdmin/Core/add_to_black_list.html.twig' %}

    <form id="call-card-form">

        <div id="call-card" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="call_card" aria-hidden="true" style="width: 900px; margin-left: -450px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="call_cancel()">×</button>
                <h3 id="call-card-label">
                    <strong>
                        Номер телефона звонящего: <span id="caller-phone"></span>
                    </strong>
                </h3>
                <div id="phone-type">
                    Выбирите тип звонка:
                    <div class="btn-group">
                        <button class="btn btn-small btn-success" type="button" value="0">Клиент знает объект</button>
                        <button class="btn btn-small btn-success" type="button" value="1">Клиент не знает чего хочет</button>
                    </div>
                </div>
            </div>

            <input type="hidden" name="CallCard[call-type]" id="call-type" value="" />
            <input type="hidden" name="CallCard[caller-phone]" id="caller-phone" value="{{ app.user.getUserDutyPhone is null ? app.user.getOfficePhone : app.user.getUserDutyPhone }}" />
            <input type="hidden" name="CallCard[linked-id]" id="linked-id" value="" />
            <input type="hidden" name="CallCard[call-id]" id="call-id" value="" />
            <input type="hidden" name="CallCard[ats-call-id]" id="ats-call-id" value="" />

            <input type="hidden" name="CallCard[action]" id="action" value="" />
            <input type="hidden" name="CallCard[call-to-phone]" id="call-to-phone" value="" />

            <input type="hidden" name="CallCard[branch-to-call]" id="branch-to-call" value="" />

            <div class="modal-body" id="call-card-content" style="display: none;">
                <div class="span12 required-buttons"></div>
                <div id="container"></div>
            </div>

            <div class="modal-footer" id="call-card-buttons">

            </div>
        </div>

    </form>
{% endblock %}