{% extends base_template %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h1>

        {{ 'message_delete_confirmation'|trans({'%object%': admin.toString(object)}, 'SonataAdminBundle') }}

        <div class="well well-small form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">

                {% if branch_id is defined and branch_id is not null %}
                    <input type="hidden" name="DutyFilter[branch_id]" value="{{ branch_id }}" />
                    <input type="hidden" name="DutyFilter[manager_id]" value="{{ manager_id }}" />
                {% endif %}

                <button type="submit" class="btn btn-danger">
                    <i class="icon-trash icon-white"></i> {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}