{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script style="text/javascript">
        $(document).ready(function(){
            var branches = {};

            $.ajax({
                type: "post",
                async: false,
                url: "{{ path('branches_get_all_ajax') }}",
                success: function(response){
                    $.each(response, function(i, item){
                        branches[item.id] = item.duty_agent;
                    });
                },
                dataType: 'json'
            });

            $("select[id$='_branchId']").change(function(){
                $("select[id$='_manager']").text("");
                $("div[id$='_manager'] span.select2-chosen").text("");

                if(!$(this).find("option:selected").val()) return;

                if(!branches[parseInt($(this).find("option:selected").val())]){
                    $(this).find("option:selected").attr("selected", false);
                    $("div[id$='_branchId'] span.select2-chosen").text("");
                    return alert("Выбор данного филиала не возможен. Не установлен номер дежурного агента для филиала.");
                }

                $("input[id$='_phone']").val(branches[parseInt($(this).find("option:selected").val())]);

                $.ajax({
                    type: "post",
                    async: false,
                    url: "{{ path('user_get_manager_by_branch_ajax') }}",
                    data: { branch_id: $(this).find("option:selected").val() },
                    success: function(response){
                        var options = "<option value>Выбирите дежурного менеджера</option>";

                        $.each(response, function(i, item){
                            options += "<option value=\"" + item.id + "\">" + item.name + "</option>";
                        });

                        $("select[id$='_manager']").append(options);

                        {% if app.security.token and is_granted('ROLE_APP_MANAGER') %}
                            $("select[id$='_manager']").val({{ app.user.id }}).change();
                        {% endif %}
                    },
                    statusCode: {
                        400: function(){
                            alert("Ошибка при получение списка менеджеров. Обратитесь к разработчику.");
                        },
                        404: function(){
                            alert("Не найдено ни одного менеджера для указанного филиала.");
                        }
                    },
                    dataType: 'json'
                });
            });

            $("select[id$='_manager']").change(function(){
                $("select[id$='_userId']").text("");
                $("div[id$='_userId'] span.select2-chosen").text("");

                if(!$(this).find("option:selected").val()) return;

                $.ajax({
                    type: "post",
                    async: false,
                    url: "{{ path('user_get_agent_by_manager_ajax') }}",
                    data: { manager_id: $(this).find("option:selected").val() },
                    success: function(response){
                        var options = "<option value>Выбирите дежурного агента</option>";

                        $.each(response, function(i, item){
                            options += "<option value=\"" + item.id + "\">" + item.name + "</option>";
                        });

                        $("select[id$='_userId']").append(options);
                    },
                    statusCode: {
                        400: function(){
                            alert("Ошибка при получение списка агентов. Обратитесь к разработчику.");
                        },
                        404: function(){
                            alert("Не найдено ни одного агента для указанного менеджера.");
                        }
                    },
                    dataType: 'json'
                });
            });

            {% if app.security.token and app.user.isManager() %}
                $("select[id$='_branchId']").val({{ app.user.branch.id }}).change();
                $("select[id$='_manager']").val({{ app.user.id }}).change();

                {% if object.userId %}
                    $("select[id$='_userId']").val({{ object.userId.id }}).change();
                {% endif %}
            {% endif %}

            $("select[id$='_dutyStartAt_date_day']").change(function(){
                $("select[id$='_dutyEndAt_date_day']").val($(this).find("option:selected").val()).change();
            });

            $("select[id$='_dutyStartAt_date_month']").change(function(){
                $("select[id$='_dutyEndAt_date_month']").val($(this).find("option:selected").val()).change();
            });

            $("select[id$='_dutyStartAt_date_year']").change(function(){
                $("select[id$='_dutyEndAt_date_year']").val($(this).find("option:selected").val()).change();
            });

            $("select[id$='_dutyStartAt_time_hour']").change(function(){
                var hour_end = parseInt($(this).find("option:selected").val()) + parseInt($("input[id$='_duty_delta_hour']").val());

                $("select[id$='_dutyEndAt_time_hour']").val(hour_end).change();
            });
        });
    </script>
{% endblock %}