{% extends "SonataAdminBundle:CRUD:list.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#filter_branchId_value").change(function(){
                $("#filter_manager_value").text("");

                if(!$(this).find("option:selected").val()) return;

                $.ajax({
                    type: "post",
                    url: "{{ path('user_get_manager_by_branch_ajax') }}",
                    data: { branch_id: $(this).find("option:selected").val() },
                    success: function(response){
                        var options = "<option value>Выбирите дежурного менеджера</option>";

                        $.each(response, function(i, item){
                            options += "<option value=\"" + item.id + "\">" + item.name + "</option>";
                        });

                        $("#filter_manager_value").append(options);

                        {% if app.security.token and is_granted('ROLE_APP_MANAGER') %}
                            $("#filter_manager_value").val({{ app.user.id }}).change();
                        {% endif %}
                    },
                    statusCode: {
                        400: function(){
                            alert("Ошибка при получение списка менеджеров. Обратитесь к разработчику.");
                        },
                        404: function(){
                            alert("Не найдено ни одного менеджера для указанного филиала.");
                        }
                    },
                    dataType: 'json'
                });
            });

            $("#filter_manager_value").change(function(){
                $("#filter_userId_value").text("");

                if(!$(this).find("option:selected").val()) return;

                $.ajax({
                    type: "post",
                    url: "{{ path('user_get_agent_by_manager_ajax') }}",
                    data: { manager_id: $(this).find("option:selected").val() },
                    success: function(response){
                        var options = "<option value>Выбирите дежурного агента</option>";

                        $.each(response, function(i, item){
                            options += "<option value=\"" + item.id + "\">" + item.name + "</option>";
                        });

                        $("#filter_userId_value").append(options);
                    },
                    statusCode: {
                        400: function(){
                            alert("Ошибка при получение списка агентов. Обратитесь к разработчику.");
                        },
                        404: function(){
                            alert("Не найдено ни одного агента для указанного менеджера.");
                        }
                    },
                    dataType: 'json'
                });
            });

            {% if app.security.token and is_granted('ROLE_APP_MANAGER') %}
                $("#filter_branchId_value").val({{ app.user.branch.id }}).change();
            {% endif %}

        });
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% include '@ApplicationSonataUser/CRUD/print_button.html.twig' %}
    </div>
{% endblock %}